{{ with .Params.usps1 }}
{{ $img := .image }}
<div class="container px-4">
    <div class="text-left mb-8">
        {{ with .title }}
        <h2 class="text-3xl lg:text-4xl font-medium mb-4 md:mb-6 leading-tight">{{ . | markdownify }}</h2>
        {{ end }}
        <p class="lg:text-lg xl:text-xl mb-4 leading-loose user-content">{{ .content | markdownify }}
        </p>
        {{ with .button }}
        <p><a href="{{ .link }}" class="button lg:text-lg">{{ .content }}</a></p>
        {{ end }}
    </div>
    <div class="grid lg:grid-cols-3 lg:w-4/5 mx-auto">
        {{ range $i,$d := .items }}
        {{ if eq $i 3 }}
<img src="{{ $.Site.Params.cloudinary_base_url }}/c_limit,h_250,dpr_auto,f_auto,q_auto/{{$img}}"
     class="cld-responsive lg:col-span-3 mx-auto max-h-[250px] w-auto h-auto object-contain"
     alt="{{ .title }}" />
        {{ if .image}}
        {{ end }}
        {{ end }}
        <div class="bg-white min-h-full w-full py-6 sm:py-8 px-4 sm:px-8 rounded-lg text-grey-dark flex flex-col">
            <div
    class="rounded-full bg-grey-lightest h-16 w-16 lg:h-20 lg:w-20 flex justify-center items-center mb-2 xl:mb-4 mr-8">
    {{ if .icon }}
        <i class="fal text-3xl lg:fa-2x {{ .icon }} text-blue"></i>
    {{ else if .icon_url }}
        <img src="{{ .icon_url }}" alt="icon" class="h-8 w-8 lg:h-10 lg:w-10 object-contain" style="filter: invert(32%) sepia(96%) saturate(4442%) hue-rotate(214deg) brightness(94%) contrast(101%);" />
    {{ end }}
</div>
            <div class="pt-2 flex justify-between flex-col flex-1">
                <div class="">
                    {{ with .title }}
                    <h4 class="text-lg lg:text-2xl font-medium mb-2">{{ . }}</h4>
                    {{ end }}
                    {{ with .content }}
                    <p class="font-medium opacity-75 leading-large lg:text-lg mb-4">{{ . | markdownify }} </p>
                    {{ end }}
                </div>
                {{ with .link }}
                <p><a href="{{.url}}" class="button">{{ .text }}</a></p>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}




