{{ with .Params.usps }}
{{ $img := .image }}
<div class="container px-4 md:py-8 lg:py-16">
    <!-- Top section: text + image side by side -->
    <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 items-center mb-12">
        <!-- TEXT -->
        <div class="lg:col-span-3">
            {{ with .title }}
            <h2 class="text-3xl lg:text-4xl font-medium mb-4 md:mb-6 leading-tight">
                {{ . | markdownify }}
            </h2>
            {{ end }}
            <p class="mx-auto lg:mx-0 max-w-xl lg:max-w-none lg:text-lg xl:text-xl font-medium opacity-75 mb-6">
                {{ .content | markdownify }}
            </p>
            {{ with .button }}
            <p>
                <a href="{{ .link }}" class="button lg:text-lg">{{ .content }}</a>
            </p>
            {{ end }}
        </div>

        <!-- IMAGE -->
        {{ with .image }}
        <div class="lg:col-span-2 flex justify-center">
            <img src="{{ . }}" alt="USP image"
                 class="rounded-lg w-full h-auto object-contain max-h-[400px]" />
        </div>
        {{ end }}
    </div>

    <!-- USP blocks -->
    <div class="grid lg:grid-cols-3 lg:w-4/5 mx-auto gap-8">
        {{ range $i,$d := .items }}
        {{ if eq $i 3 }}
        <img src="{{ $.Site.Params.cloudinary_base_url }}/c_limit,h_250,dpr_auto,f_auto,q_auto/{{$img}}"
             class="cld-responsive lg:col-span-3 mx-auto max-h-[250px] w-auto h-auto object-contain"
             alt="{{ .title }}" />
        {{ if .image }}
        {{ end }}
        {{ end }}
        <div class="bg-white min-h-full w-full py-6 sm:py-8 px-4 sm:px-8 rounded-lg text-grey-dark flex flex-col">
            <div class="rounded-full bg-grey-lightest h-16 w-16 lg:h-20 lg:w-20 flex justify-center items-center mb-2 xl:mb-4 mr-8">
                <i class="fal text-3xl lg:fa-2x {{ .icon }} text-blue"></i>
            </div>
            <div class="pt-2 flex justify-between flex-col flex-1">
                <div>
                    {{ with .title }}
                    <h4 class="text-lg lg:text-2xl font-medium mb-2">{{ . }}</h4>
                    {{ end }}
                    {{ with .content }}
                    <p class="font-medium opacity-75 leading-large lg:text-lg mb-4">
                        {{ . | markdownify }}
                    </p>
                    {{ end }}
                </div>
                {{ with .link }}
                <p><a href="{{ .url }}" class="button">{{ .text }}</a></p>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
