{{ define "main" }}
<article class="mb-8 md:mb-0">
  {{- partial "components/page-hero2.html" . -}}
  {{- partial "components/branche2/usps-gr1.html" . -}}
  {{- partial "components/branche2/quote-review-gr1.html" . -}}
  {{- partial "components/branche2/quote-review-gr2.html" . -}}
  {{- partial "components/branche2/usps-gr2.html" . -}}
  {{- partial "components/branche2/quote-review-gr3.html" . -}}
  {{- partial "components/branche2/bgImg2.html" . -}}
  {{- partial "components/bottom.html" . -}}
  {{- partial "components/branche2/reviews.html" . -}}
  {{- partial "components/branche2/cta.html" . -}}
</article>

{{ end }}
