{{ with .Params.textblocks3 }}

{{ range $index, $item := . }}
{{ $title := .top_title }}
{{ $content := .top_content }}
<div
    class="{{if (modBool $index 2)}} bg-grey-lightest {{ end }} py-12 lg:pt-20  {{ if .show_vshape}} lg:pb-0 {{ else }} lg:pb-12  {{ end }}">
        {{ if .overlapping_title }}
        <div class="text-center pb-8 md:pb-12">
            <h2 class="text-4xl font-bold leading-tight relative -mt-6 md:-mt-8 bg-white inline-block px-4">{{ .overlapping_title | markdownify }}</h2>
        </div>
        {{ end }}
    <div class="container px-4">
        {{ if $title }}
        <div class="text-center pb-8 md:pb-12  -mt-8  ">
            {{ with $title }}
            <h1 class="text-3xl lg:text-4xl font-medium mb-4 leading-tight">{{ . | markdownify }}</h1>
            {{ end }}
            {{ with $content }}
            <div class="mx-auto max-w-xl lg:text-lg xl:text-xl font-regular">{{ . | markdownify }}</div>
            {{ end }}
        </div>
        {{ end }}
        {{ if .title4 }}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:-mx-8">
            <div class="md:px-4">
                <h2 class="text-3xl font-medium mb-2 xxl:mb-6 leading-tight">{{ .title1 | markdownify }}</h2>
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ .content1 | markdownify }}
                </div>
            </div>
            <div class="md:px-4">
                <h2 class="text-3xl font-medium mb-2 xxl:mb-6 leading-tight">{{ .title2 | markdownify }}</h2>
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ .content2 | markdownify }}
                </div>
            </div>
            <div class="md:px-4">
                <h2 class="text-3xl font-medium mb-2 xxl:mb-6 leading-tight">{{ .title3 | markdownify }}</h2>
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ .content3 | markdownify }}
                </div>
            </div>
            <div class="md:px-4">
                <h2 class="text-3xl font-medium mb-2 xxl:mb-6 leading-tight">{{ .title4 | markdownify }}</h2>
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ .content4 | markdownify }}
                </div>
            </div>
        </div>
        {{ else }}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:-mx-8">
            {{ if .title1 }}
            <div class="md:px-4">
                <h2 class="text-3xl font-medium mb-2 xxl:mb-6 leading-tight">{{ .title1 | markdownify }}</h2>
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ .content1 | markdownify }}
                </div>
            </div>
            {{ end }}
            {{ if .title2 }}
            <div class="md:px-4">
                <h2 class="text-3xl font-medium mb-2 xxl:mb-6 leading-tight">{{ .title2 | markdownify }}</h2>
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ .content2 | markdownify }}
                </div>
            </div>
            {{ end }}
            {{ if .title3 }}
            <div class="md:px-4">
                <h2 class="text-3xl font-medium mb-2 xxl:mb-6 leading-tight">{{ .title3 | markdownify }}</h2>
                <div class="lg:text-lg xl:text-xl mb-4 font-medium leading-loose user-content ">
                    {{ .content3 | markdownify }}
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ if .show_vshape}}
<div class="bg-white flex justify-center overflow-hidden">
    <div class="triangle-down"></div>
</div>
{{ end }}
{{ end }}
{{ end }}
